name: Run main.py

on:
  schedule:
    - cron: "* * * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      MONGO_URI: ${{ secrets.MONGO_URI }}
      STATION: ${{ secrets.STATION }}
      RETURN: 2

    steps:
      - name: Checkout repo content
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Python packages
        run: |
          python3 -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Execute Python script
        run: python3 main.py
